.step {
    display: flex;
    min-height: 22px;
    max-height: 22px;
    margin: 3px;
    overflow: hidden;
    border: 1px solid #0E2844;
}

.step-collapsible {
    display: flex;
    flex-direction: column;
}

.step-collapsible-top {
    cursor: pointer;
}

.error-message {
    max-height: 10em;
    background: #EAB7BC;
    overflow: auto;
    font-size: 0.8em;
    padding: 0.4em;
    margin: 4px 0 4px 0;
}

.step-content {
    display: flex;
    justify-content: space-between;
    flex: 1;
    width: 100%;
}

.step-content:hover {
    background: white;
}

.step-status-and-name {
    display: flex;
    flex-direction: row;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.step-name {
    align-self: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rectangle {
    margin-right: 0.4em;
    max-width: 0.4em;
    min-width: 0.4em;
}

.passed {
    background: #68CA77;
}

.failed {
    background: #C73F4B;
}

.skipped {
    background: orange;
}